* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Brittany";
    src: url("/Mockup/font/BrittanySignature.ttf");
}

:root {
    --fontPrimary: "Syne", sans-serif;
    --fontSecundary: "Brittany";
    --fontText: "Quicksand", sans-serif;
    --Verde: #184F1E;
    --TerraCota: #E02500;
    --Branco: #F7F8F4;
    --Preto: #2C3028;
}