* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Brittany";
    src: url("/Mockup/font/BrittanySignature.ttf");
}

:root {
    --fontPrimary: "Syne", sans-serif;
    --fontSecundary: "Brittany";
    --fontText: "Quicksand", sans-serif;
    --Verde: #3A6604;
    --TerraCota: #670409;
    --Branco: #F7F8F4;
    --Preto: #2C3028;
}


body {
    color: var(--Preto);
    background: var(--Branco);
    font-family: var(--fontText);
}

.sessao-inicial {
    height: 100svh;
}
